

     <div class="container">
            <div class="row">
            
                <div class="col-sm-12 text text-center">
                    <p class="comicTitle">"{{ comic.title}}"</p> 
                    <p class="comicBy">- XKCD </p>
                    
                    <form class="form-button" action="/" method="post">
                        <a href="/id/{{ add comic.num 1 }}"><p class="form-control">Next</p></a>
                        <a href="/id/{{ minus comic.num 1 }}"><p class="form-control">Back</p></a>
                        <a href="/id/{{ random 1 2473 }}"><p class="form-control">Random</p></a>
                    </form>
  
                    <img src={{ comic.img }} alt={{ comic.alt }} class="responsive">                     
                    
                    <p>{{ comic.month }}/{{ comic.day }}/{{ comic.year }} </p>

                    <form class='text-center'> 
                    
                        <input class="search-comic search-comic-input" autocomplete="off" placeholder="Comic ID" required>
                        <button class="search-comic search-comic-btn">Search</button>      
                      
                    </form>

                        <button type="submit" class="btn btn-outline-dark">XKCD Subscription </button>
                        <a class="btn btn-outline-light" href="/login">Buy dev a coffee</a>



                    <!-- Social icons -->
                    <ul class="list-unstyled social">
                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li class="active"><a href=""><i class="fa fa-google"></i></a></li>
                        <li class="active"><a href=""><i class="fa fa-facebook"></i></a></li>
                        <span class="material-icons-outlined">flashlight_on</span>
                    </ul>
                </div>
                                
             <div class="light-mover"></div>

            </div>
        </div>
