<div class="container">
    <div class="row">
        {{!-- Title --}}
        <div class="col-sm-12 text text-center">
            <p id="comicTitle">"{{ comic.title}}"</p> 
            <p id="comicBy">- XKCD </p>

            {{!-- Next, back, random buttons --}}
            <form class="form-button" action="/" method="post">
                <a href="/id/{{ add comic.num 1 }}"><p class="form-control">Next</p></a>
                <a href="/id/{{ minus comic.num 1 }}"><p class="form-control">Back</p></a>
                <a href="/id/{{ random 1 2473 }}"><p class="form-control">Random</p></a>
            </form>

            {{!-- Comic and Date --}}
            <img src={{ comic.img }} alt={{ comic.alt }} class="responsiveImg">                    
            <p id="comicDate">{{ comic.month }}/{{ comic.day }}/{{ comic.year }}</p>

            {{!-- Search form, allow only numbers --}}
            <form class='text-center' action="/search" method="POST"> 
                <input class="search-comic search-comic-input" 
                    oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                    name="comicId" 
                    autocomplete="off" 
                    placeholder="Comic ID" required>
                <button class="search-comic search-comic-btn" type="submit">Search</button>      
            </form>

            {{!-- Subscription and Coffee buttons --}}
            <button id="subscriptionBtn" type="submit" class="btn btn-outline-dark" data-bs-toggle="modal" 
                data-bs-target="#welcomeModal">XKCD Subscription </button>
            <button id="coffeeBtn" type="submit" class="btn btn-outline-light" >Buy dev a coffee</button>

            <!-- Social icons -->
            <ul class="list-unstyled social">
                <li><a href="https://www.facebook.com/TheXKCD/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.pinterest.ca/goatmips/xkcd/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="https://www.instagram.com/xkcd/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/xkcdcomic/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://leonli.herokuapp.com/" target="_blank"><i class="material-icons">assignment_ind</i></a></li>
                <li><a href="https://github.com/StudyCamp/xkcd-comics/" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><i class="material-icons" id="background-switch" target="_blank">image</i></li>
                <li><i class="material-icons" id="light-switch" target="_blank">flashlight_off</i></li>
            </ul>
        </div>

        <!-- Modal Pop Animation -->
        <div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModal" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thank you for your subscription!</h5>
                </div>
                {{!-- icons --}}
                <div class="modal-body">
                    <p>Feel free to try out our new features...</p>
                    <i class="material-icons">flashlight_off</i>
                    <i class="material-icons">image</i>
                    <i class="material-icons">assignment_ind</i>
                    <div>
                      <i class="fa fa-github"></i>
                      <i class="fa fa-twitter"></i>
                      <i class="fa fa-instagram"></i>
                      <i class="fa fa-pinterest"></i>
                      <i class="fa fa-facebook"></i>
                    </div>
                    {{!-- Preview images --}}
                    <div class="modalPic">
                        <img src="../img/BG-off-modalPic.jpeg">                    
                        <img src="../img/BG-on-modalPic.jpeg">                  
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
          </div>
        </div>
        {{!-- Light animation --}}
        <div id="light-mover"></div>   
    </div>
</div>
